<ul class="small ">
<% if @label.labelings.any? %>
  <% for labeling in @label.labelings %>
    
    <% if concept = labeling.owner %>
      <li><%= broader_path_menu concept %></li>
    <% end
  end %>
<% else %>
  <li>No labelings found</li>
<% end %>
</ul>
