<div class="row">
	<div class="col-md-8 pt-3 col-md-offset-2">
		<h1>
			<small>Über</small><br><span style="font-family: 'Fira Sans Regular'">iDAI.thesauri</span>
		</h1>

		<p>
			Auf der Plattform <b>iDAI.thesauri</b> können Sie den neuen <b>iDAI.welt-Thesaurus</b> des Deutschen Archäologischen Instituts sowie alle historischen und aktuellen Vokabulare und Begriffssammlungen des Instituts konsultieren. Auf dieser Seite finden Sie die Metadaten zu den einzelnen Thesauri.
		</p>

		<h2 style="margin-top: 40px">iDAI.welt-Thesaurus <small>(seit 2015)</small></h2> 

		<dl class="dl-horizontal">
			<dt>
				<b>TITLE</b>
			</dt>
			<dd>
				iDAI.world Thesaurus
			</dd>
			<dt>
				<b>DESCRIPTION</b>
			</dt>
			<dd>
				Der iDAI.world Thesaurus versammelt und vereinheitlicht alle
				Thesauri und Vokabulare der Bibliotheken und Projekte des
				Deutschen Archäologischen Instituts. Der iDAI.world Thesaurus
				wurde zwischen 2015 und 2019 entwickelt und wird fortlaufend
				ergänzt und aktualisiert. 
			</dd>
			<dt>
				<b>PUBLISHER</b>
			</dt>
			<dd>
				Deutsches Archäologisches Institut
			</dd>
			<dt>
				<b>CONTRIBUTORS</b>
			</dt>
			<dd>
				Abteilung Rom des DAI: Camilla Colombi, Lena Vitt, Annika
				Kirscheneder, Matthias Block
				
				Zentrale Wissenschafliche Dienste des DAI: Reinhard Förtsch,
				Henriette Senst, Sabine Thänert
				Römisch-Germanische
				Kommission des DAI: Gabriele Rasbach, Nina Dworschak, Elenore
				Pape, Thomas Tews
			</dd>
			<dt>
				<b>LANGUAGE</b>
			</dt>
			<dd>
				Deutsch
				Einzelne
				Konzepte sind in folgenden Sprachen übersetzt: Arabisch,
				Chinesisch, Englisch, Farsi, Französisch, Italienisch, Polnisch,
				Spanisch
			</dd>
			<dt>
				<b>COVERAGE</b>
			</dt>
			<dd>
				Gesamte Antike (vom Paläolithikum bis zur
				Spätantike/byzantinischen Zeit)
				Gesamter
				Arbeitsbereich des Deutschen Archäologischen Instituts (Mittel-
				und Südamerika, Europa, Mittelmeer, Afrika, Asien)
			</dd>
			<dt>
				<span style="text-transform: uppercase"><b>Accrual Periodicity</b></span>
			</dt>
			<dd>
				Der Thesaurus wird kontinuierlich ergänzt und aktualisiert.
			</dd>
			<dt>
				<span style="text-transform: uppercase"><b>Conforms To</b></span>
			</dt>
			<dd>
				<a href="https://vocabs.dariah.eu/backbone_thesaurus/en/">https://vocabs.dariah.eu/backbone_thesaurus/en/</a>				
			</dd>
			<dt>
				<b>FORMAT</b>
			</dt>
			<dd>
				RDF/XML, RDF/Turtle, RDF/NTriples
			</dd>
			<dt>
				<b>RIGHTS</b>
			</dt>
			<dd>
				<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>
			</dd>
			<dt>
				<b>TYPE</b>
			</dt>
			<dd>
				<a href="http://www.w3.org/2004/02/skos/core#ConceptScheme">http://www.w3.org/2004/02/skos/core#ConceptScheme</a>
			</dd>
			<dt>
				<b>URI</b>
			</dt>
			<dd>
				<a href="http://thesauri.dainst.org/_fe65f286">http://thesauri.dainst.org/_fe65f286</a>
			</dd>
		</dl>

		<h2 style="margin-top: 40px">Vokabulare der DAI-Bibliotheken</h2>
		<p>
			<b><a href="http://thesauri.dainst.org/de/concepts/_1ab0f5e5.html">Realkatalog Emil Braun</a> (1836).</b> Der sogenannte Realkatalog ist die erste Systematik, nach der die Sacherschließung der Bücher des Instituto di corrispondenza archeologica (der heutigen Abteilung Rom des Deutschen Archäologischen Instituts) strukturiert wurde. Die Systematik wurde von Emil Braun (1809-1856) erarbeitet, dem Bibliothekar und späteren Sekretär des Instituto in Rom. Die Publikation ist online verfügbar: arachne.dainst.org/entity/4640811 und zenon.dainst.org/Record/001443123
		</p>
		<p>
			<b><a href="http://thesauri.dainst.org/de/concepts/_f2df66fb.html" target="_blank">Klassische Archäologie</a> (1956-2015).</b> Der Thesaurus der Abteilung Rom des DAI bildet die Weiterentwicklung des sog. Realkataloges von Emil Braun. Die Systematik wurde bis 2015 benutzt, um Monographien und Artikel aus Zeitschriften, Sammelwerken und Kongressbändern aus dem Bestand der Bibliothek des DAI Rom zu verschlagworten. Der fachliche Schwerpunkt bildet die Archäologie der Mittelmeerwelt von der ägäischen Bronzezeit bis zur Spätantike.
		</p>
		<p>
			<b><a href="http://thesauri.dainst.org/de/concepts/_9633eb88.html" target="_blank">Römisch-Germanische Kommission</a> (1992-2013).</b> Bis 2013 wurde die Literatur aus der Bibliothek der RGK in Frankfurt nach dieser Systematik verschlagwortet. Fachlich-chronologische Schwerpunkte bilden die Vor- und Frühgeschichte, die provinzialrömische Archäologie und das Mittelalter. Geographisch behandelt der Thesaurus schwerpunktmäßig Werke über Mittel-, Nord- und Osteuropa.
		</p>
		<p>
			<b><a href="http://thesauri.dainst.org/de/concepts/_500.html" target="_blank">Iberische Halbinsel</a> (1989-2009).</b> Mit dieser Systematik wurden Bücher und Aufsätze aus der Bibliothek der Abteilung Madrid des DAI verschlagwortet. Den fachlichen Schwerpunkt bildet die Archäologie der Iberischen Halbinsel vom Paläolithikum bis zum Islam. Die Verschlagwortung erfolgt seit 2009 nur noch topographisch.
		</p>
		<p>
			<b><a href="http://thesauri.dainst.org/de/concepts/_1000.html" target="_blank">Eurasien Abteilung</a> (1996-2001).</b> Die Literatur aus der Bibliothek der Eurasien Abteilung in Berlin wurde bis 2001 gemäß dieser Systematik verschlagwortet. Geographische Schwerpunkte sind die Fundstellen aus der ehemaligen Sowjetunion, dem südlichen Kaukasus, Zentralasien und China.
		</p>
		<p>
			Die Vokabulare der DAI-Bibliotheken bildeten die Ausgangsbasis für den Aufbau des iDAI.welt- thesaurus.
		</p>

		<h2 style="margin-top: 40px">Vokabulare der iDAI.welt-Systeme</h2>
		<p>
			<a href="http://thesauri.dainst.org/de/concepts/_8f1cfb65.html">iDAI.vocab</a> ist ein mehrsprachiges Wörterbuch archäologischer Fachterminologie und wurde am DAI zwischen 2013 und 2018 aufgebaut. Die auf der <a href="http://archwort.dainst.org/de/vocab/" target="_blank">Vocab-Webseite</a> enthaltenen Begriffe und deren Übersetzungen sind nun vollständig in den iDAI.welt-Thesaurus integriert.
		</p>

		<p>
			<a href="http://thesauri.dainst.org/de/concepts/_d8c94684.html" target="_blank">iDAI.gazetteer</a> enthält die Sachbegriffe, die im Ortsdatenvokabular <a href="https://gazetteer.dainst.org/app/#!/home" target="_blank">iDAI.gazetteer</a> für die Beschreibung von Orten, Regionen und geographische Einheiten benutzt werden. Die Begriffe sind vollständig in den iDAI.welt-Thesaurus integriert.
		</p>

		<p>
			<a href="http://thesauri.dainst.org/de/concepts/_ff06ea23.html" target="_blank">iDAI.objects Wertelisten</a> versammeln alle Wertelisten bzw. Begriffssammlungen, auf denen die Verschlagwortung in iDAI.objects/Arachne basiert. Die Integration der Wertelisten in den iDAI.welt-Thesaurus findet ab 2021 statt.
		</p>

		<p>
			<a href="http://thesauri.dainst.org/de/concepts/_16979f92.html" target="_blank">iDAI.field Wertelisten</a> versammeln alle Wertelisten bzw. Begriffssammlungen, die beim modularen Datenbanksystem zur Dokumentation von Feldforschungsprojekten iDAI.field Anwendung finden. Die Wertelisten werden laufend überarbeitet und sind noch nicht in den iDAI.welt-Thesaurus integriert worden.
		</p>

		<h2 style="margin-top: 40px">Winckelmann-Bibliographie</h2>

		<p>
			Auf der Plattform iDAI.thesauri wird auch die Winckelmann-Bibliographie der <a href="https://www.winckelmann-gesellschaft.com/" target="_blank">Winckelmann-Gesellschaft</a> in Stendal gehostet und als CC-BY zur Verfügung gestellt. Die Bibliographie wird in der Bibliothek der Winckelmann-Gesellschaft für die Verschlagwortung von Literatur von und über J. J. Winckelmann laufend benutzt.
		</p>
	</div>
</div>